@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: teal;
  --primary-color-darker: rgb(0, 96, 96);
  --text-color: #fff;
  --background-color: #f0f8f8;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 640px;
  background: var(--background-color);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.date {
  font-size: 1.5em;
  color: var(--primary-color-darker);
  margin-top: 20px;
  font-weight: bold;
}

.date::before {
  content: "🕰️ ";
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1em;
  }
  .container {
    padding: 20px;
    margin: 20px;
  }
  h1 {
    font-size: 2em;
  }
  .date {
    font-size: 1.2em;
  }
}
