@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('PP Neue Montreal Book'), url(../assets/fonts/ppneuemontreal-book.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  overflow: hidden;
}